/* ******* Custom Properties ********* */
:root {
  --first-color: #a85c7e;
  --first-alpha-color: rgba(217, 0, 98, 0.75);
  --second-color: #14192d;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #501464;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --pale-color: rgb(107, 190, 121);
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Indie Flower", cursive;
  --max-width: 1200px;
  --header-height: 5rem;
}

/* ******** Reset ******* */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}
a:hover {
  opacity: 0.75;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

h1 {
  margin: 0;
  font-size: 2rem;
  text-align: start;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-size: 1.25rem;
}
h4 {
  margin: 0;
  font-size: 1rem;
}
h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/* ********** Utilities ********** */ /*se reutiliza*/

.bg-gray-light {
  background-color: var(--gray-light-color);
}

.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
/* *******BTN********* */
#btn,
.btn {
  border-radius: 0.5rem;
  padding: 0.8rem;
  margin: 1rem;
  font-size: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  font-family: var(--font);
  background-color: var(--first-color);
}

/* ******************************** */
.contenedor {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}
.gray-scale {
  filter: grayscale(1);
}

.none {
  display: none;
}

.section {
  padding: 1rem 1rem;
}
.section-title {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: 250px;
  text-align: center;
  color: var(--title-color);
}

.text-first-color {
  color: var(--first-color);
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.box-right {
  display: flex;
  justify-content: flex-end;
  margin-top: -5rem;
  margin-bottom: 0.6rem;
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 105vh; /*cambiable*/
  }
  form {
    padding: 0.5rem;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
}
/*-----------------------------------  */
/**********Components*******************  */

/**********HeroImage**************************  */
.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}
.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}
.hero-image-title {
  font-size: 7.5vw;
  color: var(--hero-text-color);
}

/* *************Header******** */
.header {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem;
  z-index: 999;
  width: 100%;
  height: var(--header-height);
  background-color: var(--second-color);
}
.header > .contein {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ********Logo********** */

.logo a {
  color: var(--first-color);
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}
.logo-fix {
  width: 45%;
  font-weight: bold;
  fill: var(--first-color);
}

/***********Menú**********  */
.menu-btn {
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);
}

.menu-btn svg {
  fill: var(--first-color);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  background-color: var(--second-color);
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 0.8rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}
.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}
@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }
  .menu a {
    padding: 0 1rem;
  }
  .menu a:last-child {
    padding-right: 0;
  }
  .menu a:hover {
    background-color: transparent;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height)- 0.4rem);
  }
}

/******************Site styles***************/
/*********Buttons********* */
.btn-2 {
  border-radius: 0.5rem;
  display: inline-block;
  width: 60px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: var(--first-color);
}
.btn-2:hover {
  background-color: var(--second-color);
}
.btn-2Sun:hover {
  background-color: gold;
}

.btn-2suma {
  margin: 0.5rem;
  border-radius: 0.5rem;
  width: 3rem;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--first-color);
  padding-left: 0.5rem;
}
.btn-2suma:hover {
  background-color: var(--pale-color);
}

.btn-3 {
  border-radius: 0.5rem;
  display: inline-block;
  width: 50px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}
.btn-4 {
  /* boton registrar final, submit */
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 3rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  color: var(--white-color);
  background-color: var(--first-color);
  scroll-margin-bottom: 4rem;
}
/* ************************** */
/* **********Tablas************* */
.container {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
  height: 30rem;
}

#box1 {
  background-color: rgb(216, 184, 182);
  color: #000;
  text-align: center;
  padding: 0.5rem;
  grid-area: 1;
}

#box {
  background: rgb(216, 184, 182);
  padding: 0.5rem;
  text-align: center;
}
#box2 {
  background: rgb(216, 184, 182);
  padding: 0.5rem;
  text-align: center;
}
/* -------------------Tablas Mquerie--------------------- */
@media only screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 10%;
  }
  .boxes {
    height: 30rem;
  }
  form {
    padding: 0rem;
  }
  #reloj {
    padding: 1rem;
  }
  .reloj-mobile {
    font-size: 1.3rem;
  }
  article > h3 {
    display: none;
  }
  html {
    margin-bottom: 6rem;
  }
  a:last-child {
    display: none;
  }
}
@media only screen and (min-width: 501px) {
  .mobile-h3 {
    display: none;
  }
}

/* ********Reloj******* */
#reloj {
  font-size: 2rem;
  text-shadow: 0px 0px 1px #333;
  color: #666;
}
.reloj-contenedor {
  background-color: rgb(172, 142, 60);
  margin: 0 auto;
  border-radius: 1rem;
  text-align: center;
  width: 35%;
}
#fecha {
  letter-spacing: 0.5rem;
  font-size: 0.8rem;
}
/* ********************** */
.tabla-titles {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  margin-left: 2rem;
}
/*---------------------- clases de js */
.hidden {
  display: none;
}

.colours1 {
  background-color: #222;
}
.fondoSeleccionado {
  background-color: burlywood;
}
.usuario {
  background-color: var(--second-alpha-color);
}
.tarjeta {
  background-color: lightsalmon;
  margin: 1vh;
  padding: 0 0.6rem;
}
.hone {
  color: var(--white-color);
}
.honeTwo {
  color: var(--white-alpha-color);
}
.colorsTables {
  background-color: violet;
}
.aqua {
  background-color: aquamarine;
}
input {
  font-size: 1rem;
  font-family: var(--font);
  border: 0;
  padding-left: 0;
  border-bottom: thin solid var(--gray-dark-color);
}

.card {
  border: 1px solid #333;
  padding: 0.5rem;
  background-color: var(--first-color);
}
.sectionUsuarios {
  padding: 1rem 5rem;
}
.pAjax {
  padding: 0rem 1rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
}
.secundary {
  color: var(--first-alpha-color);
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
}
/* ------------------------------------- */
